# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
*.code-workspace

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Node.js related
node_modules/

# Docker
*.container
*.dockerfile
Dockerfile*
docker-compose*.yml

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store


verifymatrix.xlsx